[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pyyaml = "*"
py-cord = {extras = ["speed"], version = "*"}
requests = "*"
ffmpeg-python = "*"
pillow = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.10"
